<template>
  <div class="map-frame" :style="{height: map.size*blockSize*mapScale+'px'}">
    <div class="map"
          ref="map"
          :style="getMapStyle()"
          tabindex="0"
          @keydown.up.prevent="move('up')"
          @keydown.left.prevent="move('left')"
          @keydown.right.prevent="move('right')"
          @keydown.down.prevent="move('down')">
      <!-- Background tiles -->
      <div v-for="i of Array.from(Array(map.size**2).keys())"
            :data-tile-id="i"
            :style="setBlockSize()"
            @click="tileClicked(i)"
            class="tile">
      </div>
      <!-- Elements -->
        <div v-for="element of map.elements"
              :key="element.id">
          <transition name="fade">
            <div
                :style="elementStyle(element)"
                v-show="!element.removed"
                :class="'unit ' + element.type">
              <div v-if="element.type === 'player' && command"
                  :class="'command-arrow-box ' + command">
                <div class="command-arrow"/>
              </div>
            </div>
          </transition>
        </div>
      <!-- Player Steps -->
      <div v-for="step of map.history"
           v-if="step.type === 'player'"
           class="step-box"
           :style="posToStyle(step.pos)">
        <div :class="['step-arrow', step.command, step.valid?'valid':'invalid']"/>
        <div class="step-text-box">
          <div class="player-step-name">{{ step.player_name }}</div>
        </div>
      </div>

      <!-- Next level -->
      <transition name="fade">
        <div v-if="map.won" class="endgame-msg next-level">
          <span>{{ $t('Next') }}: <strong>{{ $t('Level') }} {{ room.level+1 }}!</strong></span>
        </div>
      </transition>
      <!-- Not new highest -->
      <transition name="fade">
        <div v-if="map.lost && !room.rank.new_highest" class="endgame-msg defeat">
          <span>{{ $t('Reached') }} <strong>{{ $t('Level') }} {{ room.level }}</strong></span>
          <span>{{ $t('still_best') }} {{ room.rank.previous_highest.level }}</span>
          <span><strong>{{ $t('back_one_lvl') }}</strong></span>
        </div>
      </transition>
      <!-- New highest -->
      <transition name="fade">
        <div v-if="map.lost && room.rank.new_highest" class="endgame-msg highest">
          <span>{{ $t('new_record') }}</span>
          <span><strong>{{ $t('Level') }} {{ room.level }}</strong></span>
          <span v-if="room.rank.previous_highest">
            {{ $t('prev_record') }} {{ room.rank.previous_highest.level }}
          </span>
          <span><strong>{{ $t('back_one_lvl') }}</strong></span>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  props: ['map', 'room'],
  data () {
    return {
      command: null,
      blockSize: 80
    }
  },
  computed: {
    mapScale () {
      var smallest = window.innerWidth > window.innerHeight ? window.innerHeight : window.innerWidth
      var size = smallest > 800 ? 800 : smallest
      return size / (this.map.size * this.blockSize) * 0.9
    }
  },
  methods: {
    posToStyle (pos) {
      var [x, y] = pos
      return {
        top: x * this.blockSize + 'px',
        left: y * this.blockSize + 'px'
      }
    },
    setBlockSize (obj = {}) {
      obj.width = this.blockSize + 'px'
      obj.height = this.blockSize + 'px'
      return obj
    },
    elementStyle (element) {
      var style = this.posToStyle(element.pos)
      if (element.type === 'player') {
        var time = 2 / this.room.players.length
        style.animation = `pulsing ${time}s ease-in-out infinite alternate both`
      }
      return this.setBlockSize(style)
    },
    indexToPos (tileIndex) {
      return [
        Math.floor(tileIndex / this.map.size),
        Math.floor(tileIndex % this.map.size)]
    },
    move (direction) {
      this.$socket.emit('set_player_command', direction)
      this.command = direction
    },
    getPlayer () {
      var elements = this.map.elements
      for (var element of elements) {
        if (element.type === 'player') {
          return element
        }
      }
      console.log('error: player not found!')
    },
    tileClicked (tileIndex) {
      var clickPos = this.indexToPos(tileIndex)
      var [cx, cy] = clickPos
      var [px, py] = this.getPlayer().pos
      var dx = cx - px
      var dy = cy - py
      var ax = Math.abs(dx)
      var ay = Math.abs(dy)
      // horizontal
      if (ay > ax) {
        // left
        if (dy < 0) this.move('left')
        // right
        else this.move('right')
        // vertical
      } else {
        // up
        if (dx < 0) this.move('up')
        // down
        else this.move('down')
      }
    },
    getMapStyle () {
      return {
        width: this.map.size * this.blockSize + 'px',
        transform: 'scale(' + this.mapScale + ')'
      }
    }
  },
  mounted () {
    this.$refs.map.focus()
    this.$refs.map.scrollIntoView()
    // this.$nextTick(() => {
    //   window.addEventListener('resize', (e) => {
    //     this.adjustSize()
    //   })
    // })
  }
}
</script>

<style scoped lang="scss">
</style>
