.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 3rem;
    & img {
        width: 50px;
        height: 50px;
    }
}

.subtitle {
    font-size: 1rem;
    font-style: italic;
    font-style: oblique;
    margin-bottom: 2rem;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.card-header {
    background-color: rgba($gray, .8) !important;
}

.webcam {
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

a,
.link {
    cursor: pointer;
    color: $black !important;
}

.link {
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.chat {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.gallery {

}
.gallery .pics {
    box-shadow: 0px 1px 4px -2px $black;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    & img
    {
        width: 100%;
        height: 100%;
    }
}
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.filter {
    box-shadow: 0px 1px 4px -2px $black;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
    &-icon {
        color: $primary !important;
        background-image: none !important;
        text-shadow: 0 0 3px white;
    }
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

@media (min-width: 992px)
{
    .title {
        font-size: 5rem;
        & img {
            height: 100px;
            width: 100px;
        }
    }

    .subtitle {
        margin-top: -1rem;
    }
}