.navbar {
	box-shadow: 1px 2px 6px rgba($black, .3);
}

.nav-link {
	padding-left: 1em !important;
	padding-right: 1em !important;
	border-radius: 5px;
	font-style: bold !important;
	color: white !important;
	margin-top: 1em;
	background-color: $highlight;
	background-image: linear-gradient($highlight, lighten($highlight, 10%));
	&:hover,
	&:focus {
		box-shadow: 0px 1px 4px -2px $black;
		background-color: lighten($highlight, 5%);
		background-image: linear-gradient(lighten($highlight, 5%), lighten($highlight, 15%));
	}
}

.nav-title {
	display: none;
}

@media (min-width: 576px)
{
	.navbar {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (min-width: 768px)
{
	.navbar {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media (min-width: 992px)
{
	.nav-title {
		font-size: 1rem;
		display: inline-block;
	}

	.navbar {
		padding-left: 6rem;
		padding-right: 6rem;
	}

	.nav-item {
		margin-left: .6em;
		margin-right: .6em;
	}

	.navbar-nav .nav-item:first-child {
		margin-left: 0;
	}

	.navbar-nav .nav-item:last-child {
		margin-right: 0;
	}

	.nav-link {
		margin-top: auto;
	}
}

