
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
 /*Font Awesome*/
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Variables
@import 'variables';

// Custom css
@import 'custom';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'nav';

html,
body {
	height: 100%;
	min-height: 100%;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	min-height: 1rem;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	
}

footer {
	margin-top: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	box-shadow: -1px -2px 6px rgba($black, .3);
}

a {
	&:hover,
    &:focus {
        text-decoration: none;
    }
}